body{
margin:0;
font-family:Arial;
background:#0f0f0f;
color:white;
text-align:center;
}

header{
background:#000;
padding:20px;
}

nav a{
margin:0 15px;
color:white;
text-decoration:none;
font-weight:bold;
}

.hero{
padding:100px 20px;
background:linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
url("https://images.unsplash.com/photo-1627856013091-fed6e4e30025");
background-size:cover;
}

.buttons{
margin-top:30px;
}

button,.btn{
padding:12px 25px;
margin:10px;
background:#2ecc71;
border:none;
border-radius:6px;
color:white;
font-size:16px;
cursor:pointer;
text-decoration:none;
}

button:hover,.btn:hover{
background:#27ae60;
}

.ip{
margin-top:20px;
font-size:18px;
}

.info{
padding:60px 20px;
background:#141414;
}

footer{
padding:20px;
background:#000;
}
